.header {
    $block: &;
    &__wrapper {
        transition: opacity 0.4s ease-out, transform 0.4s ease-out;

        @at-root .layout__align--top & {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px;
            background-color: rgba($header-wrapper-bg, 1);
            z-index: 999;
            border: 1px solid transparent;
            border-width: 0 0 1px;
            height: $header-wrapper-height-top;

            @include media-breakpoint-down(sm) {
                height: $header-wrapper-height-top-sm;
            }
        }

        @at-root .layout__align--left & {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: $header-wrapper-width-side-sm;
            background-color: rgba($header-wrapper-bg, 1);
            transform: translate3d(-$header-wrapper-width-side-sm,0,0);
            z-index: 100;

            @include media-breakpoint-up(lg) {
                width: $header-wrapper-width-side;
                transform: translate3d(0,0,0);
            }
        }

        @at-root .layout__align--left.menu__open &{
            transform: translate3d(0,0,0);
        }



		@at-root .layout__align--button & {
			height: $header-wrapper-height-top;

			.header__content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
			}

			.nav__main {
				display: none;
				pointer-events: none;
			}
        }

		@at-root .layout__align--button.menu__open &{
			.nav__main {
				position: fixed;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				//background-color: red;
				z-index: 100;
				pointer-events: auto;
			}
		}

        //
        //@include media-breakpoint-down(sm) {
        //    height: $header-wrapper-height-sm;
        //}

        &--hidden {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }
    }

    &__content {
        display: flex;

        @include atroot (".layout__align--top") {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        @include atroot (".layout__align--left") {
            flex-direction: column;
            height: 100%;
        }
    }

    &__logo {
        margin: 0;
        font-size: 1.7rem;
        z-index: 9999;


        @include media-breakpoint-down(sm) {
            font-size: 1.1rem;
        }

        @include atroot (".layout__align--left") {
            padding: 1rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $header-font-color;

        &:hover {
            color: $header-font-color-hover;
        }
    }
}
