body {
    font-family: $body-font;
    font-weight: $base-fontweight;
    color: $body-font-color;
    font-size: $base-fontsize;
    line-height: $base-lineheight;

    @include media-breakpoint-down(sm) {
        font-size: $base-fontsize-sm;
        line-height: $base-lineheight-sm;

    }

}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
    font-weight: 400;
    color: $header-font-color;
    margin: 0;
}

.heading1 {
    font-size: 3.53rem;
    line-height: 1em;

    a {
        color: $header-font-color;
        text-decoration: none;
    }
}

.heading2 {
    font-size: 2.94rem;
    line-height: 1em;

    a {
        color: $header-font-color;
        text-decoration: none;
    }
}

.heading3 {
    font-size: 1.77rem;
    line-height: 1.33em;

    @include media-breakpoint-down(md) {
        font-size: 1.3rem;
        line-height: 1.2em;
    }

    a {
        color: $header-font-color;
        text-decoration: none;
    }
}

.heading4 {
    font-size: 1.41rem;
    line-height: 1.67em;

    a {
        color: $header-font-color;
        text-decoration: none;
    }
}

.heading5 {
    font-size: 1.17rem;
    line-height: 2em;

    a {
        color: $header-font-color;
        text-decoration: none;
    }
}

.heading6 {
    font-size: 1rem;
    line-height: 1em;

    a {
        color: $header-font-color;
        text-decoration: none;
    }
}

p {
    word-break: break-word;
    margin-bottom: 22px;
}
