$header-height : 100px;
$header-height-sm : 70px;

// Font Settings
$main-font: 'Lora';

$header-fallback-font: $main-font, "Times New Roman", Times, serif;
$body-fallback-font : Arial, Helvetica, sans-serif;

$header-font : $header-fallback-font;
$body-font : $header-font;

//Font size - line height settings
$base-fontsize : 16px;
$base-lineheight : 1.6em;
$base-fontsize-sm : 14px;
$base-lineheight-sm : 1.4em;
$base-fontweight : 400;

$h1-lg : 3.53rem;


// Custom site colors

$black : #000010;
$white : #ffffff;

$red : orange;

//Setting the working variables
$header-wrapper-height : $header-height;
$header-wrapper-height-sm : $header-height-sm;
$header-wrapper-bg : $white;
$current-menu-item-bg : #ffffff;
$menu-item-line-height : $header-height;
$content-wrapper-height : $header-height;

$body-font-color : #000000;
$header-font-color : #000000;
$header-font-color-hover : #000000;

$blog_cat_hover_color : $red;
$read_more_color : $red;
