.blog-post {
    $block: &;
    height: 300px;

    &__image {
        display: flex;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        transition: 220ms all ease-in-out;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, $accent-color 0%, rgba($accent-color, 0.4) 100%);
            opacity: 0.5;
            transition: 220ms all ease-in-out;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
    }

    &__title {
        color: $white;
        font-size: 1.875rem;
        line-height: 2.0625rem;
        font-weight: 700;
        z-index: 1;
    }

    &__text {
        color: $white;
        font-size: 1rem;
        line-height: 1.3125rem;
        font-weight: 700;
        z-index: 1;
        display: inline-flex;
        align-items: center;


        svg {
            height: 12px;
            margin-left: 0.5rem;
            transition: 220ms all ease-in-out;

            path {
                fill: $white;
            }
        }
    }

    &--small {
        @extend .blog-post;

        #{$block}__title {
            font-size: 1.5rem;
            line-height: 110%;
        }
    }

    &:hover {
        #{$block}__text {
            svg {
                transform: translateX(10px);
            }
        }

        #{$block}__image:after {
            text-decoration: none;
            opacity: 1;
            background: linear-gradient(180deg, $accent-color 0%, rgba($accent-color, 0.4) 100%);
        }

    }
}
