.blog {
    &__large {
        margin: 22px 0 22px 0;

        .blog {
            &__image {
                padding-top: 38%;
                background-color: #eeeeee;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                display: block;
            }

            &__content {
                padding: 0 2%;
            }

            &__header {
                margin: 22px 0 0 0;
            }

            &__title {
                @include media-breakpoint-down(md) {
                    font-size: 1.5rem;
                    line-height: 1.2em;
                }
                a {
                    color: #000;
                }
            }

            &__info {
                margin: 0 0 8px 0;

                ul, li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    li {
                        margin-right: 16px;

                        &:last-child {
                            margin-right: 0;
                        }

                        p {
                            margin: 0;
                            color: rgba(#000000, .5);
                            font-size: .9em;

                            a {
                                color: rgba(#000000, .5);
                                text-decoration: none;
                                margin: 0 1px;
                                transition: all 220ms ease-in;

                                &:hover {
                                    color: rgba($blog_cat_hover_color, .5);
                                }
                            }
                        }
                    }
                }
            }

            &__excerpt {
                p {
                    margin: 0;
                    color: rgba(#000, .6);
                }

                a {
                    display: table;
                    margin: 12px 0 0 0;
                    text-decoration: none;
                    padding: 6px 18px;
                    border-radius: 30px;
                    color: rgba(#000,.5);
                    transition: all 220ms ease-in;
                    border: 1px solid rgba($read_more_color,.5);

                    &:visited {
                        color: rgba(#000,.5);
                    }

                    &:hover {
                        text-decoration: none;
                        color: rgba($read_more_color,1);
                        border-color: rgba($read_more_color,1);
                    }
                }
            }
        }
    }

    &__small {
        display: flex;
        flex-direction: row;

        margin: 11px 0;

        .blog {
            &__image {
                padding-top: 26%;
                background-color: #eeeeee;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;

                flex: 0 0 30%;
                display: inline-block;

                @include media-breakpoint-down(md) {
                    padding-top: auto;
                    height: 70px;
                }
            }

            &__content {
                padding: 0 0 0 2%;
                flex: 0 0 70%;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__header {
                margin: 11px 0 0 0;

                @include media-breakpoint-down(md) {
                    margin: 0;
                }

            }

            &__title {

                a {
                    color: #000;

                    @include media-breakpoint-down(md) {
                        word-break: break-word;
                    }
                }
            }

            &__info {
                margin: 0 0 12px 0;

                @include media-breakpoint-down(md) {
                    margin: 6px 0 6px 0;
                }

                ul, li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    li {
                        margin-right: 16px;

                        &:last-child {
                            margin-right: 0;
                        }

                        p {
                            margin: 0;
                            color: rgba(#000000, .5);
                            font-size: 0.9em;
                            @include media-breakpoint-down(md) {
                                font-size: 0.75em;
                                line-height: 1.1em;
                            }

                            a {
                                color: rgba(#000000, .5);
                                transition: all 220ms ease-in;
                                text-decoration: none;

                                &:hover {
                                    color: rgba($blog_cat_hover_color, .5);
                                }
                            }
                        }
                    }
                }
            }

            &__excerpt {

                @include media-breakpoint-down(sm) {
                    display: none;
                }

                p {
                    margin: 0;
                    color: rgba(#000000, .5);

                    @include media-breakpoint-down(md) {
                        font-size: .8rem;
                        line-height: 1.2em;
                    }
                }

                a {
                    display: table;
                    margin: 12px 0 0 0;
                    padding: 4px 11px;
                    border-radius: 30px;
                    text-decoration: none;
                    font-size: 0.9em;
                    color: rgba(#000,.5);
                    transition: all 220ms ease-in;
                    border: 1px solid rgba($read_more_color,.5);

                    @include media-breakpoint-down(md) {
                        display: none;
                    }

                    &:visited {
                        color: rgba(#000,.5);
                    }

                    &:hover {
                        text-decoration: none;
                        color: rgba($read_more_color,1);
                        border-color: rgba($read_more_color,1);
                    }
                }
            }
        }

        &--vert {
            flex-direction: column;
            margin-top: 22px;

            @include media-breakpoint-down(sm) {
                flex-direction: row;
            }

            .blog {
                &__image {
                    padding-top: 78%;

                    @include media-breakpoint-down(sm) {
                        padding-top: 26%;
                    }
                }
                &__title {
                    min-height: 3.7rem;
                    padding: 0 2%;
                    font-size: 1.4rem;
                    line-height: 1.2em;

                    @include media-breakpoint-down(md) {
                        min-height: auto;
                        margin-bottom: 6px;
                        font-size: 1.1rem;
                    }

                    a {
                        font-size: 1.4rem;
                        line-height: 1em;

                        @include media-breakpoint-down(md) {
                            font-size: 1.1rem;
                        }
                    }


                }
                &__info {
                    padding: 0 2%;

                    @include media-breakpoint-down(md) {
                        margin-bottom: 6px;
                    }

                    ul {
                        li {
                            margin-right: 6px;

                            p {
                                @include media-breakpoint-down(md) {
                                    font-size: .8rem;
                                    line-height: 1.3em;
                                }
                            }
                        }
                    }
                }

                &__exerpt {
                    padding: 0 2%;
                }

                &__content {

                }
            }
        }
    }
}
