.nav {
    &__main {
        height: 100%;

        @at-root .layout__align--top & {
            display: block;
            flex: 1 1 auto;

            @include media-breakpoint-down(sm) {
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($white, .98);

                flex-direction: column;
                justify-content: center;
                opacity: 0;
                transform: translateY(-105%);
                transition: transform 240ms ease-in-out, opacity 240ms ease-in-out 120ms;
            }
        }

        @at-root .layout__align--left & {
            padding: 1rem;
        }

		@at-root .layout__align--button &{
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $white;
			z-index: 100;
			pointer-events: auto;
			padding-top: $header-wrapper-height-top;
		}
    }

    &__button {
        display: inline-block;
        height: 40px;
        width: 40px;
		background-color: $white;
        position: relative;
        z-index: 9999;

        &:hover {
            cursor: pointer;
        }
        @at-root .layout__align--top & {
            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        @at-root .layout__align--left & {
            position: fixed;
            left: $header-wrapper-width-side-sm + 20px;

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        span {
            position: absolute;
            width: 1.875rem;
            height: 3px;
            background-color: rgba($black,.7);
            top: 50%;
            transition: all 240ms ease-in-out;

            &:nth-child(1) {
                transform: translateY(-10px);
            }

            &:nth-child(2) {
                //width: 80%;
                //right: 0;
            }

            &:nth-child(3) {
                transform: translateY(10px);
            }
        }
    }
}

.nav__main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;

    @at-root .layout__align--top & {
        flex-direction: row;
        justify-content: flex-end;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            justify-content: center;
        }
    }

    @at-root .layout__align--left & {
        flex-direction: column;
    }

	@at-root .layout__align--button & {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		overflow-y: auto;
	}
}
.nav__main ul ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 6px;
    max-width: $max-width-submenu;
    background-color: $white;
    height: auto;
    padding: 5px 10px;

    @at-root .layout__align--top & {}
    @at-root .layout__align--left & {
        border: 1px solid lightgray;
        box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
    }

	@at-root .layout__align--button & {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: static;
		max-width: none;
		background-color: transparent;
	}
}
.nav__main li {
    display: flex;
    padding: 5px 10px;
    margin: 0;

    @include media-breakpoint-down(sm) {
        padding: 5px 15px;
    }

    @at-root .layout__align--top & {
        justify-content: center;
        align-items: center;
    }

    @at-root .layout__align--left & {
        justify-content: flex-start;
        align-items: flex-start;
    }

	@at-root .layout__align--button & {
		flex-direction: column;
	}
}

.nav__main ul ul li {
    display: block;
    margin: 0;
    padding: 10px 0;

    @include media-breakpoint-down(sm) {
        margin: 0 0 0 20px;
    }
}

.nav__main ul ul li a {
	@at-root .layout__align--button & {
		font-size: 1.5rem;

		@include media-breakpoint-up(sm) {
			font-size: 2rem;
		}
	}
}

.nav__main li a {
    display: block;
    font-size: 1rem;
    line-height: 1.1em;
    color: $black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        font-size: 1.7rem;
        line-height: 1.1em;
    }

    @at-root .layout__align--left & {
        font-size: 1.3rem;
        line-height: 1.1em;
    }

	@at-root .layout__align--button & {
		overflow: visible;
		font-size: 2rem;

		@include media-breakpoint-up(sm) {
			font-size: 3rem;
		}
	}
}

.nav__main {
    .menu-item-has-children {
        position: relative;

        &:hover {
            ul {
				@at-root .layout__align--top & {
					display: block;
				}

				@at-root .layout__align--left & {
					display: block;
				}
            }
        }
    }

    .current-menu-item {
        > a {
            font-weight: 800;
        }
    }
}
