.wpcf7 {
	& input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, textarea
	{
		@extend .form-control;
	}

	& input[type="radio"] {
		@extend .form-check-inline;
	}

	& input[type="range"] {
		@extend .form-control-range;
	}

	& input[type="file"] {
		@extend .form-control-file;
	}

	& select {
		@extend select.form-control;
	}

	& .wpcf7-radio {
		display: flex;
		flex-direction: column;
	}

	& label {
		@extend .col-form-label;
		display: block;
	}

	& input[type="submit"] {
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-block;
	}
}
