.wpcf7 input:not([type="checkbox"]):not([type="radio"]), select, textarea
{
	@extend .form-control;
}

.wpcf7 select {
 @extend select.form-control;
}

.wpcf7 .wpcf7-radio {
	display: flex;
	flex-direction: column;
}

.wpcf7 input[type="radio"] {
	@extend .form-check-inline;
}

.wpcf7 input[type="range"] {
 @extend .form-control-range;
}

.wpcf7 input[type="file"] {
 @extend .form-control-file;
}

.wpcf7 label {
	@extend .col-form-label;
	display: block;
}
