body {
    font-family: $body-font;
    font-weight: $base-fontweight;
    color: $body-font-color;
    font-size: $base-fontsize;
    line-height: $base-lineheight;

    @include media-breakpoint-down(sm) {
        font-size: $base-fontsize-sm;
        line-height: $base-lineheight-sm;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6
{
    font-family: $header-font;
    font-weight: 400;
    color: $header-font-color;
    margin: 0 0 1.25rem 0;
    line-height: 1.1em;

    a {
        color: $header-font-color;
        text-decoration: none;
    }
}

.heading1 {
    font-size: $h1;

    @include media-breakpoint-down(sm) {
        font-size: $h1-sm;
    }
}

.heading2 {
    font-size: $h2;

    @include media-breakpoint-down(sm) {
        font-size: $h2-sm;
    }
}

.heading3 {
    font-size: $h3;

    @include media-breakpoint-down(sm) {
        font-size: $h3-sm;
    }
}

.heading4 {
    font-size: $h4;

    @include media-breakpoint-down(sm) {
        font-size: $h4-sm;
    }
}

.heading5 {
    font-size: $h5;

    @include media-breakpoint-down(sm) {
        font-size: $h5-sm;
    }
}

.heading6 {
    font-size: $h6;

    @include media-breakpoint-down(sm) {
        font-size: $h6-sm;
    }
}

p {
    word-break: break-word;
    margin-bottom: 1.375rem;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 1.6875rem;
	margin-left: 1.875rem;

	@include media-breakpoint-down(sm) {
		margin-bottom: 0.9375rem;
		margin-left: 0.9375rem;
	}

	li {
		margin-bottom: 0.3125rem;
		padding-left: 0.75rem;

		@include media-breakpoint-down(sm) {
			margin-bottom: 0.3125rem;
			padding-left: 0.75rem;
		}
	}
}

ul {
	list-style-type: square;
	list-style-position: outside;
	font-weight: 300;
}

ol {
	list-style-type: decimal;
}



.mce-content-body,
.txt-body {
    position: relative;

    h1 {
        font-size: $h1;
        margin-bottom: 1.25rem;

        @include media-breakpoint-down(sm) {
            font-size: $h1-sm;
            margin-bottom: 1.25rem;
        }
    }

    h2 {
        font-size: $h2;
        margin-bottom: 1.25rem;

        @include media-breakpoint-down(sm) {
            font-size: $h2-sm;
            margin-bottom: 1.25rem;
        }
    }

    h3 {
        font-size: $h3;
        margin-bottom: 1.25rem;

        @include media-breakpoint-down(sm) {
            font-size: $h3-sm;
            margin-bottom: 1.25rem;
        }
    }

    h4 {
        font-size: $h4;
        margin-bottom: 1.25rem;

        @include media-breakpoint-down(sm) {
            font-size: $h4-sm;
            margin-bottom: 1.25rem;
        }
    }

    h5 {
        font-size: $h5;
        margin-bottom: 1.25rem;

        @include media-breakpoint-down(sm) {
            font-size: $h5-sm;
            margin-bottom: 1.25rem;
        }
    }

    h6 {
        font-size: $h6;
        margin-bottom: 1.25rem;

        @include media-breakpoint-down(sm) {
            font-size: $h6-sm;
            margin-bottom: 1.25rem;
        }
    }


    a {
        display: inline;
        color: $accent-color;
        text-decoration: underline;

        &:visited,
        &:active,
        &:focus {
            color: $accent-color;
        }

        &:hover {
            color: $accent-color;
            text-decoration: underline;
        }
    }

    p {
        font-weight: $base-fontweight;
        font-size: $base-fontsize;
        line-height: $base-lineheight;
        margin-bottom: 24px;

        @include media-breakpoint-down(sm) {
            font-size: $base-fontsize-sm;
            line-height: $base-lineheight-sm;
            margin-bottom: 1.25rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        margin: 0 0 1.25rem 0;
    }

    iframe {
        height: 29.6875rem;
        width: 100%;
        min-height: auto;
    }


    img.alignleft {
        float: left;
        margin-right: 1.25rem;
    }

    img.alignright {
        float: right;
        margin-left: 1.25rem;
    }

    img.aligncenter {
        margin: 0 auto;
        display: block;
    }



    blockquote {
        display: inline-block;

        margin: 1.875rem 0 1.875rem 0;
        padding: 2.8125rem 7.5rem;

        background-color: #eeeeee;
        font-family: $header-font;
        font-size: $h2;
        line-height: 2rem;
        color: $body-font-color;

        p {
            font-size: inherit;
            line-height: inherit;
            position: relative;

            &:before,
            &:after {
                position: absolute;
                display: block;
                font-family: $header-font;
                font-weight: 400;
                font-size: 3.75rem;
                color: $accent-color;
            }

            &:before {
                top: 0;
                left: -3.75rem;
                content: "“";
            }

            &:after {
                bottom: -3.125rem;
                right: 0;
                content: none;
            }
        }
    }

    blockquote p {
        padding: 0;
        margin: 0;
    }

    ul, ol {
        margin-top: 0;
        margin-bottom: 1.6875rem;
        margin-left: 1.875rem;

        @include media-breakpoint-down(sm) {
            margin-bottom: 0.9375rem;
            margin-left: 0.9375rem;
        }

        li {
            margin-bottom: 0.3125rem;
            padding-left: 0.75rem;

            @include media-breakpoint-down(sm) {
                margin-bottom: 0.3125rem;
                padding-left: 0.75rem;
            }
        }
    }

    ul {
        list-style-type: square;
        list-style-position: outside;
        font-weight: 300;
    }

    ol {
        list-style-type: decimal;
    }

    table {
        margin: 1.25rem 0 1.875rem 0;

        thead {
            color: $body-font-color-on-dark;

            tr {
                th {
                    font-weight: 800;
                    padding: 1.75rem 0;
                }

                td {
                    font-weight: 500;
                    vertical-align: middle;
                }
            }
        }

        tbody {
            border-bottom: #CCCCCC solid 1px;

            tr {
                td:nth-child(even) {
                    background-color: #EAEAEA;
                    background-clip: padding-box;
                }

                td {
                    padding: 0.6875rem 0.625rem 0.5rem 0.625rem;
                    font-size: 0.875rem;
                    line-height: 1.3125rem;
                    border-top: #CCCCCC solid 1px;
                }
            }
        }
    }

    hr {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: 0;
        border-top: 1px solid #d9d9d9;
    }
}
