<div class="container">
    <div class="row">
        <div class="col-24">
            <div class="footer__content">
                <p>
                    Copyright {{"now"|date('Y')}}
                </p>
            </div>
        </div>
    </div>
</div>
