<div class="container h-100">
    <div class="row h-100">
        <div class="col-24 h-100">
            <div class="header__content">
                <h1 class="header__logo">
                    <a class="header__link" href="{{ site.url }}">
                        {{ site.name }}
                    </a>
                </h1>
                <nav id="nav-main" class="nav__main" role="navigation">
                    {% include "partial/menu.twig" with {'menu': menu.get_items} %}
                </nav>
                <div class="nav__button">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
