<div class="section-comment__message {{ comment.comment_type }}" id="blog-comment-{{ comment.ID }}">
    <h5 class="message__author">
        {{ comment.author.name }} says
    </h5>
    <div class="message__content">
        {{ comment.comment_content|wpautop }}
    </div>

    <section class="section-comment__reply">
        {% if post.comments %}
            <div class="reply__content">
                <h4> replies </h4>
                <div class="comments">
                    {% for cmt in comment.children %}
                        {% include "comment.twig" with {comment:cmt} %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- comment form -->
        {% include "comment-form.twig" %}
    </section>
</div>
