.content {
    &__wrapper {

        @at-root .layout__align--top & {
            padding: $content-wrapper-height-top-sm 0 0 0;

            @include media-breakpoint-up(md) {
                padding: $content-wrapper-height-top 0 0 0;
            }

        }

        @at-root .layout__align--left & {
            padding: 0;

            @include media-breakpoint-up(lg) {
                padding: 0 0 0 $header-wrapper-width-side;
            }
        }

        @at-root .layout__align--right & {}
    }
}
