.content {
    &__wrapper {

        @include atroot (".layout__align--top") {
            padding: $content-wrapper-height-top-sm 0 0 0;

            @include media-breakpoint-up(md) {
                padding: $content-wrapper-height-top 0 0 0;
            }

        }

        @include atroot (".layout__align--left") {
            padding: 0 0 0 $header-wrapper-width-side-sm;

            @include media-breakpoint-up(md) {
                padding: 0 0 0 $header-wrapper-width-side;
            }
        }

        @include atroot (".layout__align--right") {
        }

    }
}
