{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
                    <section class="article-content">
                        <h1 class="article-h1">{{ post.title }}</h1>
                        <div class="article-body">
                            {{ post.content }}
                        </div>
                    </section>

                    {% if post.comment_status == "closed" %}
                        <!-- no comments allowed -->
                    {% else %}
                    <section class="comment-box">
                        <!-- comments -->
                        <div class="comments">
                            {% if post.comments %}
                                <h3> comments </h3>
                                {% for cmt in post.comments %}
                                    {% include "comment.twig" with {comment:cmt} %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- comment form -->
                        {% include "comment-form.twig" %}
                        {% endif %}
                    </section>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
