<section class="section-text">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="view-text__wrapper">
                    <h1>
                        {{ block.title }}
                    </h1>
                    <p>
                        {{ block.content }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

