<div class="sidebar">
    <div class="sidebar__profile">
        <h4 class="heading4 profile__title">
            Over ons
        </h4>
        <div class="profile__img">

        </div>
        <div class="profile__content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi cum debitis dicta, dignissimos fugiat iure maxime, nesciunt, nisi nulla .
            </p>

            <a href="#" class="profile__button">
                Over ons
            </a>
        </div>
    </div>

    <div class="sidebar__moreinfo">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis deleniti distinctio, doloribus dolorum earum in labore laudantium magni nobis omnis possimus, quidem quis totam, unde? Possimus quibusdam reprehenderit sed.
        </p>
    </div>

</div>
