.blog {
    &__large {
        margin: 22px 0 22px 0;

        .blog {
            &__image {
                padding-top: 38%;
                background-color: #eeeeee;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                display: block;
            }

            &__content {
                padding: 0 2%;
            }

            &__header {
                margin: 22px 0 0 0;
            }

            &__title {
                a {
                    color: #000;
                }
            }

            &__info {
                margin: 0 0 8px 0;

                ul, li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;

                    li {
                        margin-right: 16px;

                        &:last-child {
                            margin-right: 0;
                        }

                        p {
                            margin: 0;
                            color: rgba(#000000, .5);
                            font-size: .9em;

                            a {
                                color: rgba(#000000, .5);
                                text-decoration: none;
                                margin: 0 1px;
                                transition: all 220ms ease-in;

                                &:hover {
                                    color: rgba($blog_cat_hover_color, .5);
                                }
                            }
                        }
                    }
                }
            }

            &__excerpt {
                p {
                    margin: 0;
                    color: rgba(#000, .6);
                }

                a {
                    display: table;
                    margin: 12px 0 0 0;
                    text-decoration: none;
                    padding: 6px 18px;
                    border-radius: 30px;
                    color: rgba(#000,.5);
                    transition: all 220ms ease-in;
                    border: 1px solid rgba($read_more_color,.5);

                    &:visited {
                        color: rgba(#000,.5);
                    }

                    &:hover {
                        text-decoration: none;
                        color: rgba($read_more_color,1);
                        border-color: rgba($read_more_color,1);
                    }
                }
            }
        }
    }

    &__small {
        display: flex;
        flex-direction: row;

        margin: 11px 0;

        .blog {
            &__image {
                padding-top: 26%;
                background-color: #eeeeee;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;

                flex: 0 0 30%;
                display: inline-block;
            }

            &__content {
                padding: 0 0 0 2%;
                flex: 0 0 70%;

                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__header {
                margin: 11px 0 0 0;
            }

            &__title {

                a {
                    color: #000;
                }
            }

            &__info {
                margin: 0 0 12px 0;

                ul, li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    li {
                        margin-right: 16px;

                        &:last-child {
                            margin-right: 0;
                        }

                        p {
                            margin: 0;
                            color: rgba(#000000, .5);
                            font-size: .9em;

                            a {
                                color: rgba(#000000, .5);
                                transition: all 220ms ease-in;
                                text-decoration: none;

                                &:hover {
                                    color: rgba($blog_cat_hover_color, .5);
                                }
                            }
                        }
                    }
                }
            }

            &__excerpt {
                p {
                    margin: 0;
                    color: rgba(#000000, .5);
                }

                a {
                    display: table;
                    margin: 12px 0 0 0;
                    padding: 4px 11px;
                    border-radius: 30px;
                    text-decoration: none;
                    font-size: 0.9em;
                    color: rgba(#000,.5);
                    transition: all 220ms ease-in;
                    border: 1px solid rgba($read_more_color,.5);

                    &:visited {
                        color: rgba(#000,.5);
                    }

                    &:hover {
                        text-decoration: none;
                        color: rgba($read_more_color,1);
                        border-color: rgba($read_more_color,1);
                    }
                }
            }
        }

        &--vert {
            flex-direction: column;
            margin-top: 22px;

            .blog {
                &__image {
                    padding-top: 78%;
                }
                &__title {
                    font-size: 1.4rem;
                    min-height: 3.7rem;
                    padding: 0 2%;
                }
                &__info {
                    padding: 0 2%;

                    ul {
                        li {
                            margin-right: 6px;
                        }
                    }
                }

                &__exerpt {
                    padding: 0 2%;
                }

                &__content {

                }
            }
        }
    }
}
