{% if post.comment_status == "closed" %}
<!-- no comments allowed -->
{% else %}
<section class="section-comment" id="comments">
    <div class="section-comment__content">
        {% if post.comments %}
            <h3>
                Comments
            </h3>
            {% for cmt in post.comments %}
                {% include "comment/comment.twig" with {comment:cmt} %}
            {% endfor %}
        {% endif %}
    </div>
    {% include "comment/comment-form.twig" %}
    {% endif %}
</section>
